.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.abbrImporter {
  padding: 1rem 0rem;
}
/*
.abbrListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.abbrListFilter {
}

.abbrList {
  overflow-y: auto;
}
*/
