.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 5rem);
}

.main .abbrImporter {
  flex: 1;
  height: fit-content;
  margin-left: 1rem;
}

.main .abbrImporter fieldset {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  border-color: #fe6f27;
}

.main .abbrListWrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.main .abbrListFilter {
  margin: 1rem 1rem;
}

.main .abbrList {
  font-size: 95%;
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
}

.main .abbrList > li > h4 {
  background: black;
  width: fit-content;
  padding: 0.2rem 0.4rem;
  border-radius: 15%;
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
}

.main .abbrList > li > p {
  margin: 0.2rem;
}
